In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Problem 1

Exercise 2.30 page 50
Answer whether the variable is qualitative or quantitative and then provide the more detailed measurement level.

a. Number of spectators at a randomly chosen Wimbledon tennis match. **Quantitative**

b. Water consumption (liters) by a randomly chosen Wimbledon player in a match.  **Quantitative**

c. Gender of a randomly chosen tennis player in the Wimbledon tennis tournament. **Qualitative**

Quantitative variables provide the most detailed measurement level because they can be measured whereas qualitative variables can only provide categories.

## Problem 2 

Exercise 2.34 page 50-51
State the data type (categorical, discrete numerical or continuous numerical) and measurement level (nominal, interval, ratio. Discuss alternatives if there is doubt.

Q6 - On a 1-5 scale, asses the current job market for your undergraduate major. 1 = Very bad <-> 5 = Very good.

Q7 - During the last month, how many times has your schedule been disrupted by car trouble?

Q8 - About how many years of college does the more-educated one of your parents have? (years)

Q9 - During the last year, how many traffic tickets (excluding parking) have you received?

Q10 - Which political orientation most nearly fits you? (1 = Liberal, 2 = Middle-of-Road, 3 = Conservative)

## Problem 3

Exercis3 4.38 page 135 (download file from web campus)

a. Develop an appropriate tabular and graphical presentation that shows the percent frequency distribution of the number of customers using the downtown ATM during the noon hour. Briefly describe what the presentations tell about bank customer usage.

b. Provide summary measures for the mean, median, and standard deviation for the number of customers.

c. Are ther any statistical outliers in teh sample? Use the method as outlined in class to answer.

d. Which measure of central tendency should be reported first as the best measure of central tendency? Why?

## Problem 4

Exercise 4.24 page 129

Over the past month, Bob's bowling score mean was 182 with a standard deviation of 9.1. His bowling partner Cedric's mean was 152 with a standard deviation of 7.6. Which bowler is more consistent in relative terms?

## Problem 5
Access the database County Data for HW 1 found on the Kdrive in the HW folder.  Observations were taken on several variables for selected counties in Alabama and Mississippi.  Answer the questions below using this dataset.  The variables you will use for the questions are described as follows:

**College Graduation Rate**:  The percent of the county adult population with at least a Bachelor’s degree.
**Household Income**:  The county’s median household income.
**Unemployment Rate**:  The percent of the county population (in the labor force) who are unemployed.

- a. Develop the appropriate graphical presentation that shows the distribution of average college graduation rate.Briefly describe what you learn about college graduation rates from your graph.
- b. Compute the mean, median and standard deviation for the sample of college graduation rates.  Which measure of central tendency best describes graduation rate?  Support your answer with the appropriate statistical reasoning.  
- c. Are any of the observations for college graduation rate statistical outliers? Support your answer with the appropriate calculation (use the definition of “outlier” as defined/computed in class).
- d. Develop the appropriate graphical presentation that shows the relationship between percent of residents with a college degree and household income.  Compute the descriptive measure that assesses the strength of the relationship between college graduation rate and household income.
- e. Develop the appropriate graphical presentation that shows the relationship between percent of residents with a college degree and unemployment rate. Compute the descriptive measures that assesses the strength of the relationship between college graduation rate and unemployment rate.
- f. Which explanatory variable provides a stronger prediction of college graduation rate?  Support your answer by citing what you discover in parts d and e above.

In [24]:
hw=pd.read_excel('County Data for HW 1.xlsx')
hw.info()
hw.head()
#hw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 10 columns):
County        128 non-null object
State         128 non-null object
PopDen        128 non-null float64
BirthRate     128 non-null float64
HSGrad        128 non-null float64
ColGrad       128 non-null float64
IncomeHH      128 non-null int64
Poverty%      128 non-null float64
Unempt        128 non-null float64
PersIncome    128 non-null int64
dtypes: float64(6), int64(2), object(2)
memory usage: 10.1+ KB

,County,State,PopDen,BirthRate,HSGrad,ColGrad,IncomeHH,Poverty%,Unempt,PersIncome
0,Autauga,AL,73.3,13.9,70.0,14.5,36803,11.8,3.7,21093
1,Baldwin,AL,88.0,13.4,73.2,16.8,35438,11.1,3.1,24109
2,Barbour,AL,32.8,13.2,55.6,11.8,25925,23.8,5.1,19360
3,Bibb,AL,33.4,14.8,51.8,4.7,28039,17.4,6.7,18214
4,Blount,AL,79.0,13.2,60.5,7.0,32676,13.3,2.7,19813

In [25]:
hw.describe()

,PopDen,BirthRate,HSGrad,ColGrad,IncomeHH,Poverty%,Unempt,PersIncome
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,74.196094,14.247656,59.582031,11.544531,27081.718750,19.470312,6.925000,18585.968750
std,82.460196,1.908826,7.871512,5.274882,5784.483512,6.399857,3.421815,3079.798899
min,5.500000,9.100000,43.700000,4.700000,15307.000000,6.800000,1.600000,11390.000000
25%,26.225000,12.975000,53.975000,8.150000,23454.500000,14.975000,4.675000,16712.000000
50%,46.550000,13.900000,57.900000,10.000000,26561.500000,17.850000,6.100000,18611.000000
75%,88.275000,15.600000,64.525000,13.900000,30253.500000,21.925000,8.825000,19976.000000
max,594.800000,19.400000,80.200000,30.100000,52450.000000,36.600000,21.100000,28601.000000

In [ ]:
list_of_days = [2, 1, 0, 2, 1, 3, 0, 2, 4, 0, 3, 2 ,3, 4, 2, 2, 2, 4, 3, 0] # created a list of the data
import pandas as pd
series_of_days = pd.Series(list_of_days) # converted the list to series
series_of_days.value_counts(ascending = True) # the frequency was ascending but not the demand
test = dict(series_of_days.value_counts())
freq_table =  pd.Series(test)
pd.DataFrame({"Demand":freq_table.index, "Frequency":freq_table.values})

## Problem 6

Exercise 3.39 page 100 (Download data)
Total advertising dollars for the data displayed equaled $2 million. Convert the graph to a frequency distribution table. Hint: Think carefully about the classes in this problem and remeber that any graph starts with a tabular frequency disttibution.